<!DOCTYPE html>
<html>

<head> </head>

<body>
  <img src="cid:unique@logo" width="120" />
  <p>Halo {{ namaPemohon }},</p>
  <p>
    Permohonan pemeriksaan kasus dengan no unik {{ kodeUnik }} {{ kondisi }}
  </p>
  <p>
    Untuk lebih detail, anda dapat melihat status permohonan pemeriksaan kasus
    pada link berikut:
  </p>
  <a href="http://siber.depcun.my.id/?uniqueCode={{ kodeUnik }}">http://siber.depcun.my.id/?uniqueCode={{ kodeUnik
    }}</a>
  <p>Terima kasih atas perhatiannya.</p>
</body>

</html>